<!-- KaTeX support -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css" integrity="sha384-KDVo5cKjz2k1noUhUoYIYJYoc6TnPM4dP0Gd9C/Cn1CZK5yKZ5Q6D7I2T4hHxz6Y" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.js" integrity="sha384-cmhK/FwFqRziJbJMKQrhX3CvIqxW7RfGIkz5hn3tG4HTgx9pXgUBN2dPEkkI7zF6" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/contrib/auto-render.min.js" integrity="sha384-mll67QQM/BG+SIPZBawHLz0DBIFubARjHgdiwBhW/YmYV4YtCWKyg7B06N2F+A2H" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    renderMathInElement(document.body, {
      delimiters: [
        {left: "$$", right: "$$", display: true},
        {left: "$", right: "$", display: false}
      ]
    });
  });
</script>

