<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-site-verification" content="jV3x6jGTkfAJgBzUOmhBv9Eu_MyQKjvSYdbxCqn0WnI" />  
	<meta name="description" content="{{ .Site.Params.description }}">
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
	<meta name="google-adsense-account" content="ca-pub-7713961305850965">
	<meta name="naver-site-verification" content="3b0106dd0b1eecd975ba1dd83401c54080c02eb4" />

    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
    <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
    {{ partial "search.html" . }}